/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

/* Main Content Styles */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

main h2 {
    color: #333;
}

main p {
    color: #666;
}

/* Notice Section Styles */
.all-browsers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.browser {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    header {
        padding: 20px;
    }

    nav {
        display: flex;
        justify-content: center;
    }

    nav a {
        margin: 0 5px;
    }

    .all-browsers {
        flex-direction: column;
    }

    .browser {
        flex-basis: 100%;
        margin-bottom: 15px;
        /* Adjust margin for better spacing on smaller screens */
    }
}